/target
output.log

    {
      "name": "17",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "18",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "19",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "20",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "21",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "22",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "23",
      "script": "target/release/ore --rpc https://few-fittest-patron.solana-mainnet.quiknode.pro/355f59c3745eb62ce68c5b3582e0949a9eeebd17/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "24",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
        {
      "name": "25",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "26",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "27",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "28",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "29",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "30",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "31",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "32",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
        {
      "name": "33",
      "script": "target/release/ore --rpc https://dimensional-yolo-river.solana-mainnet.quiknode.pro/2fdef3051e40958cbd02c7576fc8f7469beef488/ --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "34",
      "script": "target/release/ore --rpc https://mainnet.helius-rpc.com/\?api-key\=59c981e3-3dc1-4c64-9b5a-2c315893fdcc --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "35",
      "script": "target/release/ore --rpc https://mainnet.helius-rpc.com/\?api-key\=59c981e3-3dc1-4c64-9b5a-2c315893fdcc --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "36",
      "script": "target/release/ore --rpc https://mainnet.helius-rpc.com/\?api-key\=59c981e3-3dc1-4c64-9b5a-2c315893fdcc --keypair ~/.config/solana/id.json --priority-fee 9500000 mine"
    },
    {
      "name": "37",
      "script": "target/release/ore --rpc https://mainnet.helius-rpc.com/\?api-key\=59c981e3-3dc1-4c64-9b5a-2c315893fdcc --keypair ~/.config/solana/id.json --priority-fee 9500000 mine" 
    },